---
import VisitorCounter from "../components/AnimatedCounter.astro"
import RandomImage from '../components/RandomImage.astro';
---
<div>
    <hr class="divider" />
    <nav class="site-nav">
        <ul class="nav-list">
            <li><a href="/"><img src="/images/CoolGifs/Home.gif"><b>Home</b></a></li>
            <li><a href="/episodes"><img src="/images/CoolGifs/EmoHate.gif"><b>Hate Speech Episodes</b></a></li>
            <li><a href="/spectrum"><img src="/images/CoolGifs/rainbow1.gif"><b>Spectrum of Hate</b></a></li>
            <li><a href="https://www.patreon.com/c/Hatereon"><img src="/images/CoolGifs/DonateBlood.gif"><b>Patreon</b></a></li>
        </ul>
    </nav>
    <div class="email-link">
        <RandomImage maxHeight="140px" />
        <a href="mailto:hatespeechp@gmail.com">Email the Webmaster!</a>
    </div>
    <!-- Visitor counter -->
    <div class="counter-section">
        <VisitorCounter/>
    </div>
    <!-- Webring -->
    <footer class="webring-footer">
        <nav class="webring-nav">
            <a href="#">&lt;&lt; PREV</a> |
            <a href="#">RANDOM</a> |
            <a href="#">LIST SITES</a> |
            <a href="#">NEXT &gt;&gt;</a>
        </nav>
        <p>This site is part of the <strong>Two Bad Podcasters Webring</strong></p>
    </footer>
</div>