---
export interface Props {
    items: string[];
    style1998?: boolean;
}

const { items} = Astro.props;
---


<ol class="spectrum-list" >
    {items.map(item => (
            <li>{item}</li>
    ))}
</ol>