---
import '../styles/global.css';
---


<div class="welcome-container">
    <div class="welcome-content">
        <figure class="host-figure">
            <img class="wobble-pulse welcome-image" src="/images/ProfilePics/NateCoolSelfieMid.png" alt="Nate">
            <figcaption>Nate</figcaption>
        </figure>

        <div class="welcome-text">
            <h1>Hello!</h1>
            <h4>It is nice to see you in my home page.</h4>
        </div>

        <figure class="host-figure">
            <img class="wobble-pulse welcome-image" src="/images/ProfilePics/TylerCoolSelfieMid.png" alt="Tyler">
            <figcaption>Tyler</figcaption>
        </figure>
    </div>
</div>
