<!-- Classic centered table layout -->
<table width="600" border="0" cellpadding="10" cellspacing="0" align="center">
    <tr>
        <td>
            <!-- Animated header -->
            <div align="center">
                <h1>
                    <font face="Comic Sans MS" color="#FF0000" size="7">
                        WELCOME TO THE HATE SPEECH WEBSITE!
                    </font>
                </h1>
                <img src="/images/cflmars3_e0.gif" alt="Email Me!" width="40" height="40" />
                <a href="mailto:webmaster@mysite.com">
                    <font size="3" face="Arial">Email the Webmaster!</font>
                </a>
            </div>

            <hr size="3" color="#0000FF" />

            <!-- Main content -->
            <font face="Arial" size="3">
                <p>Hi! Welcome to my <b>totally awesome</b> website! I'm still learning HTML so please be patient.</p>

                <p>This site is all about me and my interests. Check out these cool sections:</p>

                <ul>
                    <li>📷 <a href="/photos.html">My Photo Gallery</a></li>
                    <li>🎵 <a href="/music.html">My Favorite Music</a></li>
                    <li>📝 <a href="/guestbook.html">Sign My Guestbook!</a></li>
                    <li>🔗 <a href="/links.html">Cool Links</a></li>
                </ul>

                <!-- Visitor counter placeholder -->
                <div align="center">
                    <img src="/images/cflmars3_e0.gif"
                         border="0" alt="visitor counter">
                </div>

                <!-- Random animated gif -->
                <div align="center">
                    <img src="/images/cflmars3_e0.gif"
                         alt="Under Construction" width="40" height="40" />
                    <font size="1" color="#FF0000">More content coming soon!</font>
                </div>
            </font>

            <!-- Webring -->
            <hr size="1" color="#000000" />
            <div align="center">
                <font size="1" face="Arial">
                    <p>
                        <a href="#">&lt;&lt; PREV</a> |
                        <a href="#">RANDOM</a> |
                        <a href="#">LIST SITES</a> |
                        <a href="#">NEXT &gt;&gt;</a>
                        <br />
                        This site is part of the <b>Awesome Webring</b>
                    </p>
                </font>
            </div>
        </td>
    </tr>
</table>