---

---

    <div >
        <!-- Main content -->
        <div class="main-content">
            <img src="/images/NateProfile.jpeg">
            <img src="/images/TylerProfile.jpeg">
            <h2>Hello!</h2>
            <h4>It is nice to see you in my home page.</h4>
        </div>
    </div>