---

---

    <div >
        <!-- Main content -->
        <div class="main-content">
            <p>Hi! Welcome to my <strong>totally awesome</strong> website! I'm still learning HTML so please be patient.</p>
        </div>
    </div>