---
export interface Props {
    title: string;
    pageTitle: string;
}
const { title,pageTitle } = Astro.props;

import '../styles/global.css';
import RetroNavigation from '../components/RetroNavigation.astro'
import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!-- Classic meta tags -->
    <meta name="description" content="Welcome to my awesome 1998 website!">
    <meta name="keywords" content="web, site, personal, 1998, internet">

</head>
<body>

<!-- Main content -->
<main class="page-container">
    <Header title={pageTitle}/>
    <slot />
    <RetroNavigation/>
</main>

<!-- Footer with visitor counter -->

</body>
</html>